header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav a{
    text-decoration: none;
    color: #3A3A3A;
}
.nav-head{
    font-size: 24px;
}
.navs-links{
    display: flex;
    font-size:16px;
    margin: 87px 120px;
}
.navs-link{
    margin-left: 34px;
}